@extends('layouts.bootstrap')

@section('head')
<title>Registro</title>
<meta name='description' content='Registro'>
<meta name='keywords' content='palabras, clave'>
<meta name='robots' content='noindex,nofollow'>
<link rel="stylesheet" type="text/css" href="assets/css/style/registro.css">

<div class="panel-heading">
    <div class="panel-title text-center">
        <h1 class="title">Seguridad Vecinal</h1>
        <hr />
    </div>
</div> 
@stop

@section('content')
    <body>
        {{Session::get("message")}}

        {{Form::open(array(
                "method" => "POST",
                "action" => "HomeController@register",
                "role" => "form",
        ))}}
        <div class="container">
            <div class="row main">
                <div class="main-login main-center">  
                    <div class="form-group">
                            <label for="name" class="cols-sm-2 control-label">Nombre</label>
                            <div class="cols-sm-10">
                                 {{Form::input("text", "nombre", null, array("class" => "form-control" , 'placeholder'=>'Ingrese su nombre, debe tener solo letras'))}}
                                <div class="bg-danger">{{$errors->first('nombre')}}</div>
                            </div>
                    </div>

                    <div class="form-group">
                            <label for="email" class="cols-sm-2 control-label">Apellido</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                     {{Form::input("text", "apellido", null, array("class" => "form-control" , 'placeholder'=>'Ingrese su apellido, debe tener solo letras'))}}
                                    <div class="bg-danger">{{$errors->first('apellido')}}</div>
                                </div>
                            </div>
                    </div>

                    <div class="form-group">
                            <label for="username" class="cols-sm-2 control-label">Celular</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                   {{Form::input("text", "celular", null, array("class" => "form-control" , 'placeholder'=>'Ingrese su telefono, debe tener solo numeros'))}}
                                    <div class="bg-danger">{{$errors->first('celular')}}</div>
                                </div>
                            </div>
                    </div>

                    <div class="form-group">
                            <label for="password" class="cols-sm-2 control-label">Direccion</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                   {{Form::input("text", "direccion", null, array("class" => "form-control", 'placeholder'=>'Ingrese su dirección, debe tener solo letras y numeros, ej: Iselin 1231' ))}}
                                    <div class="bg-danger">{{$errors->first('direccion')}}</div>
                                </div>
                            </div>
                    </div>

                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Direccion</label>
                    <div class="cols-sm-10">
                        {{Form::label("Barrio:")}}
                        {{Form::input("text", "zona_barrio", null, array("class" => "form-control" , 'placeholder'=>'Ingrese el nombre de su barrio' ))}}
                        <div class="bg-danger">{{$errors->first('zona_barrio')}}</div>
                    </div>
                </div> 

                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Direccion</label>
                    <div class="cols-sm-10">
                        {{Form::label("Nombre de Usuario:")}}
                        {{Form::input("text", "usuario", null, array("class" => "form-control" , 'placeholder'=>'Ingrese su nombre de usuario, puede tener letras y numeros'))}}
                        <div class="bg-danger">{{$errors->first('usuario')}}</div>
                    </div>
                </div>           
                
                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Direccion</label>
                    <div class="cols-sm-10">
                        {{Form::label("Email:")}}
                        {{Form::input("email", "email", null, array("class" => "form-control" , 'placeholder'=>'Ingrese su email' ))}}
                        <div class="bg-danger">{{$errors->first('email')}}</div>
                    </div>    
                </div> 
                
                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Direccion</label>
                    <div class="cols-sm-10">
                        {{Form::label("Password:")}}
                        {{Form::input("password", "password", null, array("class" => "form-control" , 'placeholder'=>'Ingrese su clave, debe tener mas de 8 caracteres'))}}
                        <div class="bg-danger">{{$errors->first('password')}}</div>
                    </div>   
                </div>
                
                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Direccion</label>
                    <div class="cols-sm-10">
                        {{Form::label("Repetir password:")}}
                        {{Form::input("password", "repetir_password", null, array("class" => "form-control", 'placeholder'=>'Ingrese su clave, debe repetir su clave anterior'))}}
                        <div class="bg-danger">{{$errors->first('repetir_password')}}</div>
                    </div>    
                </div>
                
                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Direccion</label>
                    <div class="cols-sm-10">
                        {{Form::label("Aceptar los términos y condiciones:")}} 
                        {{Form::input("checkbox", "terminos", "On")}} <a class="btn btn-success btn-xs" href="/segveci/public/condiciones" TARGET="_new" role="button">Términos y Condiciones</a>
                        <div class="bg-danger">{{$errors->first('terminos')}} </div>
                    </div>
                </div>
                
                <div class="form-group">

                    {{Form::input("hidden", "_token", csrf_token())}}
                    {{Form::input("submit", null, "Registrarme", array("class" => "btn btn-success"))}}
                
                </div>
            </div>
        </div>           
    </body>                      
{{Form::close()}}

</div>
</div>
@stop